



<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

    <%= link_to "Members Only", root_path, class: "d-flex bold align-items-center text-dark text-decoration-none" %>


      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

        <% if current_user %>
            <span class="me-3 text-dark">Login us <%= current_user.email %></span>
            <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "me-3 text-dark text-decoration-none" %>
            <%= link_to "New Post", new_post_path, class: "me-3 text-dark text-decoration-none" %>
        <% else %>
            <%= link_to "Loigin", new_user_session_path, class: "me-3 text-dark text-decoration-none" %>
            <%= link_to "Sing up", new_user_registration_path, class: "text-dark text-decoration-none" %>
        <% end %>

      </nav>
    </div>

  </header>